.containerManajemen {
  padding: 0 70px 0 70px;
}

.contentManajemen {
  background-color: rgb(240, 240, 240);
  height: max-content;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  border-radius: 100px;

  h5 {
    font-weight: 600;
    font-size: 1rem;
    align-self: flex-start;
  }

  ul,
  p {
    align-self: flex-start;
  }
}

@media screen and (max-width: 860px) {
  .containerManajemen {
    padding: 15px;
  }

  .contentManajemen {
    border-radius: 25px;
  }
}
