.homeMainContainer {
  overflow-x: hidden;
}

.content-title-home {
  background-image: url('../../assets/home/heroimg.png');
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.content-title-home p {
  text-shadow: 0px 0px 20px rgb(21, 140, 252);
  -webkit-text-stroke: 0.6px rgb(21, 140, 252);
  text-stroke: 0.6px rgb(21, 140, 252);
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.979);
}

.boxitem-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxitem-home img {
  width: 120%;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.boxitem-home img:hover {
  transform: scale(1.1);
}

.text-center {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContainer {
  background-color: #f3f3f3c5;
  padding: 30px 25px;
  border-radius: 5px;
}

.imgContainer2 {
  background-color: #f3f3f3c5;
  padding: 10px 25px;
  width: 125%;
  border-radius: 5px;
}

.item-home {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}

.center-squere {
  margin-right: 2px;
  margin-left: 2px;
}

.item-home p {
  color: #0a5493;
  font-weight: bold;
}

.all-item-home {
  margin-top: 150px;
}

.content-home-products h3 {
  font-weight: bold;
  color: #0a5493;
}

.content-home-products {
  margin-top: 100px;
  text-align: center;
}

.mainImgContainer {
  padding: 10px;
}

.tachyon {
  margin-right: 10px;
  background-image: url('../../assets/home/slide2.jpeg');
  background-size: cover;
  height: 200px;
  position: relative;
  left: 50px;
  margin-top: -10px;
  background-color: #e9e9e9;
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%); /* Potong miring ke bawah */
  border-top-left-radius: 22px; /* Border radius pada sudut kiri atas */
  border-bottom-right-radius: 22px; /* Border radius pada sudut kanan bawah */
  border-bottom-left-radius: 22px; /* Tidak ada border radius pada sudut kiri bawah */
}

/* .tachyon2 img{
    background-color: #e9e9e9;
}

.tachyon  img{
    padding: 3%;
    background-color: #e9e9e9;
} */
.tachyon2 {
  background-image: url('../../assets/home/slide2.jpeg');
  background-size: cover;
  position: relative;
  margin-left: 10px;
  height: 200px;
  right: 90px;
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%); /* Potong miring ke bawah */
  border-top-right-radius: 22px; /* Border radius pada sudut kanan atas */
  border-bottom-right-radius: 22px; /* Border radius pada sudut kanan bawah */
  border-top-left-radius: 22px; /* Tidak ada border radius pada sudut kiri atas */
}

.company-milestone h3 {
  font-weight: bold;
  color: #0a5493;
}
.company-milestone {
  margin-top: 100px;
  text-align: center;
}

.boxmile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  color: white;
  background-image: url('../../assets/home/boxmile.webp');
  background-size: cover;
  background-position: center;
}

.amount {
  font-size: 80px;
}

.amountyear {
  font-size: 130px;
}

.year {
  font-size: 60px;
}

.containerSwipper {
  margin-top: 125px;
  margin-bottom: 25px;
}

.slideShow h3 {
  font-weight: bold;
  color: #0a5493;
}
.slideShow {
  text-align: center;
}

.partner {
  padding: 50px;
  background-color: #e9e9e9;
}

.item-partner {
  width: 120px;
  border-radius: 50%;
  height: 120px;
  background-color: white;
  border: 1px solid black;
}

.line {
  width: 170px;
  height: 2px;
  background-color: #095591;
}

.partner h3 {
  font-size: 35px;
  color: #095591;
}

.boxpartner {
  display: flex;
  justify-content: center;
  width: 70vw;
  padding-top: 30px;
}

.secondImgContainer1 {
  margin-left: 100px;
}

.secondImgContainer2 {
  margin-left: 200px;
}

@media (max-width: 860px) {
  .mainImgContainer {
    flex-direction: column;
    gap: 15px;
  }

  .tachyon,
  .tachyon2 {
    flex: none;
  }

  .tachyon {
    width: 100%;
    background-size: cover;
    height: 200px;
    position: relative;
    left: 0;
    background-color: #e9e9e9;
    clip-path: none; /* Potong miring ke bawah */
    border-radius: 20px;
  }

  .tachyon2 {
    width: 100%;
    background-size: cover;
    position: relative;
    margin-left: 0;
    height: 200px;
    right: 0;
    clip-path: none; /* Potong miring ke bawah */
    border-radius: 20px;
  }

  .imgContainer {
    background-color: #f3f3f3c5;
    padding: 20px;
    border-radius: 5px;
  }

  .imgContainer2 {
    background-color: #f3f3f3c5;
    padding: 20px;
    border-radius: 5px;
  }

  .secondImgContainer1 {
    margin-left: 25%;
  }

  .secondImgContainer2 {
    margin-left: 25%;
  }

  .boxitem-home img {
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
  }
}

@media (max-width: 960px) {
  .all-item-home {
    margin-top: 50px;
  }

  .content-title-home p {
    font-size: 20px;
  }
}
