.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 50px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  z-index: 9999;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
  padding: 15px 5px 5px 5px;
}

.navbar.scrolled {
  background-color: #ffffffda;
  border-radius: 15px;
  width: 95%;
  left: 2.3%;
  padding: 0 25px;
  transition: transform 0.7s ease-in-out;
  transform: translateY(10%);
}

.navbar.scrolled .nav-links {
  color: #0a5493;
}

.navbar.scrolled .nav-menu::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -3px;
  margin-bottom: 38px;
  width: 100%;
  height: 1px;
  background-color: #0d6abb;
}

.fa-react {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 8px;
  font-size: 0.9rem;
  font-weight: 600;
  left: 7%;
  list-style: none;
  align-items: center;
  padding: 15px 5px 5px 5px;
  position: relative;
}

.nav-menu::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -3px;
  margin-bottom: 38px;
  width: 100%;
  height: 1px;
  background-color: white;
  transition: all 0.2s ease-out;
}

.nav-menu li:nth-child(1),
.nav-menu li:nth-child(2),
.nav-menu li:nth-child(3),
.nav-menu li:nth-child(4) {
  grid-column: span 3;
  grid-row: 1;
  justify-self: center;
  margin-bottom: 5px;
}

.nav-menu li:nth-child(5),
.nav-menu li:nth-child(6),
.nav-menu li:nth-child(7),
.nav-menu li:nth-child(8) {
  grid-column: span 3;
  grid-row: 2;
  justify-self: center;
  margin-top: 5px;
}

.nav-links {
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px;
  transition: color 0.2s ease-in-out;
}

.nav-links:hover {
  transition: all 0.2s ease-out;
  background-color: #1a6fd1;
}

.navbar.scrolled .nav-links:hover {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
  margin-top: -10px;
  margin-right: 15px;
}

.language {
  border-radius: 3px;
  border: 1px solid rgb(160, 160, 160);
}

.language-button {
  cursor: pointer;
  border: none;
  background-color: #fcfcfc00;
  font-size: 15px;
  border-radius: 2px;

  img {
    margin-bottom: 3px;
  }
}

.language-button.active {
  background-color: #979797;
  color: white;
  border: none;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    padding: 0;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.25);
  }

  .navbar-logo {
    padding: 15px 5px 5px 0px;
  }

  .nav-menu.active {
    background-color: #ffffff;
    left: 0;
    opacity: 1;
    transition: all 0.7s ease;
    z-index: 9999999;
  }

  .navbar {
    background-color: #ffffff88;
    border-radius: 0;
    width: 100%;
    left: 0;
    padding: 0 25px;
    transition: transform 0.7s ease-in-out;
    transform: translateY(0%);
  }

  .navbar.scrolled {
    background-color: #ffffff;
    border-radius: 0;
    width: 100%;
    left: 0;
    padding: 0 25px;
    transition: transform 0.7s ease-in-out;
    transform: translateY(0%);
  }

  .nav-links {
    width: 100%;
    padding: 2rem;
    display: table;
    color: #0a3097;
  }

  .navbar.scrolled .nav-links {
    color: #0a3097;

    &:hover {
      color: #3965dd;
    }
  }

  .nav-links:hover {
    background-color: transparent;
    border-radius: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-bars {
    color: #0a3097;
  }

  .fa-times {
    color: #0a3097;
    font-size: 2rem;
    margin-right: 3px;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #4ad9e4;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #6568f4;
    transition: 250ms;
  }

  .language {
    display: none;
  }
}
