.containerProduk {
  padding: 100px 0 100px 0;
  text-align: center;
}

.containerProduk h3 {
  font-weight: bold;
  color: #0a5493;
}

.tachyon {
  margin-right: 10px;
  background-image: url('../../../assets/home/slide2.jpeg');
  background-size: cover;
  height: 200px;
  position: relative;
  left: 50px;
  margin-top: -10px;
  background-color: #e9e9e9;
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  border-top-left-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

.tachyon2 {
  background-image: url('../../../assets/home/slide2.jpeg');
  background-size: cover;
  position: relative;
  margin-left: 10px;
  height: 200px;
  right: 90px;
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-top-left-radius: 22px;
}

/* .tachyon2 img{
      background-color: #e9e9e9;
  }
  
  .tachyon  img{
      padding: 3%;
      background-color: #e9e9e9;
  } */

.imgContainer {
  background-color: #f3f3f3c5;
  padding: 30px 25px;
  border-radius: 5px;
}

.imgContainer2 {
  background-color: #f3f3f3c5;
  padding: 10px 25px;
  width: 125%;
  border-radius: 5px;
}

.mainImgContainer {
  padding: 10px;
}

.secondImgContainer1 {
  margin-left: 100px;
}

.secondImgContainer2 {
  margin-left: 200px;
}

@media (max-width: 860px) {
  .mainImgContainer {
    flex-direction: column;
    gap: 15px;
  }

  .tachyon,
  .tachyon2 {
    flex: none;
  }

  .tachyon {
    width: 100%;
    background-size: cover;
    height: 200px;
    position: relative;
    left: 0;
    background-color: #e9e9e9;
    clip-path: none;
    border-radius: 20px;
  }

  .tachyon2 {
    width: 100%;
    background-size: cover;
    position: relative;
    margin-left: 0;
    height: 200px;
    right: 0;
    clip-path: none;
    border-radius: 20px;
  }

  .imgContainer {
    background-color: #f3f3f3c5;
    padding: 20px;
    border-radius: 5px;
  }

  .imgContainer2 {
    background-color: #f3f3f3c5;
    padding: 20px;
    border-radius: 5px;
  }

  .secondImgContainer1 {
    margin-left: 25%;
  }

  .secondImgContainer2 {
    margin-left: 25%;
  }
}
