.containerPartner {
  padding: 50px;
}

.item-partner {
  img {
    width: 100%;
  }
}

.containerPartner h3 {
  font-size: 35px;
  color: #095591;
}

.boxpartner {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.line {
  width: 170px;
  height: 2px;
  background-color: #095591;
}

@media (min-width: 14in) {
  .containerPartner {
    margin: 0 auto;
    max-width: 14in;
  }
}

@media screen and (max-width: 860px) {
  .item-partner {
    img {
      width: 115%;
    }
  }
}
