.containerStruktur {
  padding: 0 70px 0 70px;
}

.containerTop h3 {
  font-weight: 600;
  color: #114f8c;
  margin-left: 5%;
}

.containerBottom {
  display: flex;
  flex-direction: column;
  height: 70vh;
}
